@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Gabarito:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 75px;
    background-color: #4A4A4A;
    gap: 20px;
}

#header-logo {
    width: 189px;
    height: 53px;
    display: block;
}

.action-bar {
    display: flex;
    flex-grow: 1; 
    align-items: center;
    gap: 30px;
}

.namebar {
    width: 150px;
    margin-right: auto;
}

.create-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.action-bar input[type="text"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 2em;
    font-size: 16px;
    height: 40px; 
}

.namebar,
.searchbar {
    outline: none;
    border: none;
}

.searchbar {
    width: 400px;
}

.action-bar button {
    color: #ECFAFF;
    border: none;
    padding: 10px 15px;
    border-radius: 2em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 100px;
    transition: background-color 0.1s;
}

.add-btn {
    background-color: #2f9253;
}

.delete-btn {
    background-color: #B03A2E; 
}

.add-btn:hover {
    background-color: #38b365;
}

.delete-btn:hover {
    background-color: #C04A3E;
}

main {
    padding: 40px 75px;
}

table {
    width: 100%;
    /* border-collapse: collapse;  */
    background-color: white;
    border-radius: 8px; 
    overflow: hidden; 
}

table thead {
    background-color: #4A4A4A; 
    color: #ECFAFF; 
}

table th {
    padding: 15px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    box-sizing: border-box; 
}

table td {
    padding: 12px 10px;
    text-align: center;
    border-bottom: 1px solid #eee; 
    font-size: 16px;
    color: #333;
}

table tbody tr:nth-child(even) {
    background-color: #f8f8f8; 
}

table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.table-row--selected {
    background-color: #ffe082 !important; /* Yellow highlight */
    font-weight: bold;
    border-left: 5px solid #ffc107;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
}

.modal h2 {
    text-align: center;
    margin-bottom: 1.5em;
}

.modal-content {
    background-color: #FFF;
    margin: 10vh auto; /* 10% from the top */
    padding: 30px;
    border-radius: 8px;
    width: 90%; 
    max-width: 500px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Important: removes space reserved for arrows */
}

.form-group input[type="number"] {
    width: 100%; 
    height: auto; 
}

#modal-save-btn, #modal-cancel-btn {
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}

#modal-save-btn {
    background-color: #2f9253;
    color: #FFFFFF;
    border: none;
}

#modal-save-btn:hover {
    background-color: #38b365;
    color: #FFFFFF;
    transition: 0.3s;
}

#modal-cancel-btn {
    background-color: var(--secondary-color);
    border: 1px solid hsl(6, 51%, 50%);
    color: 	hsl(6, 51%, 50%);
    margin-left: 10px;
    
}

#modal-cancel-btn:hover {
    background-color: hsl(6, 51%, 50%);
    color: #FFFFFF;
    transition: 0.3s;
}

footer {
    height: 60px;
    background-color: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: center;
}